[Unit]
Description=Cassandra Service

[Service]
Type=forking
PIDFile=/usr/share/dse/PID

ExecStartPre=- /sbin/swapoff -a
ExecStartPre=- /bin/chown -R cassandra /usr/share/dse
ExecStart=/usr/share/dse/bin/cassandra  -p /usr/share/dse/PID

WorkingDirectory=/usr/share/dse
Restart=always
RestartSec=60
TimeoutStopSec=60
TimeoutStartSec=60
User=cassandra

[Install]
WantedBy=multi-user.target
